
.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: #16e316;
}

.onlineStatus.off{
    background: #b7b4b4;
    box-shadow: 0 0 0 0;
}